<!--<ng-container *ngIf="showDrag">
  <div class="upload-container" [@fadeInOut]>
    <div class="upload-container-content">
      <div class="upload-container-text">Yüklenecek dosyaları herhangi bir yere bırakın</div>
    </div>
  </div>
</ng-container>-->

<ng-container *ngIf="dragEnterCount">
  <div class="upload-container" [@fadeInOut]>
    <div class="upload-container-content">
      <div class="upload-container-text">Yüklenecek dosyaları herhangi bir yere bırakın</div>
    </div>
  </div>
</ng-container>

<!--
<app-upload-files></app-upload-files>
-->
