.watermark-content {
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.normal-img {
  max-width: 400px;

  img {
    display: block;
    width: 100%;
  }
}

.logo img {
  width: 100px;
}
