.bg {
  height: 100%;

  background-image: url('https://images3.alphacoders.com/954/thumb-1920-954241.jpg');

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
