mat-progress-bar {
  position: fixed;
  top: 0;
  z-index: 2;
}

@media (prefers-color-scheme: light) {
  ::ng-deep .mat-progress-bar-background {
    background: #D9C2FB;
  }

  ::ng-deep .mat-progress-bar-buffer {
    background: #D9C2FB;
  }
}

@media (prefers-color-scheme: dark) {
  ::ng-deep .mat-progress-bar-background {
    fill: #BB86FC;
  }

  ::ng-deep .mat-progress-bar-buffer {
    background: #BB86FC;
  }

  ::ng-deep .mat-progress-bar-fill::after {
    background-color: #4c3f5b !important;
  }
}


