@media (prefers-color-scheme: light) {
  ::ng-deep .mat-drawer {
    background-color: #fff;
  }
}

@media (prefers-color-scheme: dark) {
  ::ng-deep .mat-drawer {
    background-color: #353535;
  }
}

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  min-height: 100vh;
}

mat-sidenav {
  width: 304px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2), 0px 6px 30px rgba(0, 0, 0, 0.12), 0px 16px 24px rgba(0, 0, 0, 0.14) !important;
  // border-radius: 2px;
}

@media (max-width: 599px) {

  mat-sidenav {
    width: 320px;
  }
}
