::ng-deep .mat-dialog-actions {
  box-sizing: content-box;
}

::ng-deep .settings-dialog .mat-dialog-container {
  padding: 0;
}

:host ::ng-deep .mat-dialog-content {
  padding: 0 !important;
  margin: 0 !important;
}

h1 {
  margin: 16px 24px;
}

.my-dialog-content {
  display: grid;
  grid-template-columns: 256px 1fr;
  grid-gap: 24px;
  border-top: 1px solid rgba(0,0,0,.12);
}

.left {
  border-right: 1px solid rgba(0,0,0,.12);
}

:host ::ng-deep .mat-list-item {
  font-size: 14px !important;
  line-height: 24px !important;
}
