@import '~@angular/material/theming';

@include mat-core();

$mat-deep-purple: (
  50: #F2E7FE,
  100: #DBB2FF,
  200: #BB86FC,
  300: #985EFF,
  400: #7F39FB,
  500: #6200EE,
  600: #5600E8,
  700: #3700B3,
  800: #30009C,
  900: #23036A,
  A100: #b388ff,
  A200: #7c4dff,
  A400: #651fff,
  A700: #6200ea,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$simple-upload-primary: mat-palette($mat-deep-purple, 200);
$simple-upload-accent: mat-palette($mat-deep-purple, A200, A100, A400);

$simple-upload-warn: mat-palette($mat-red);

$simple-upload-theme: mat-dark-theme($simple-upload-primary, $simple-upload-accent, $simple-upload-warn);

$background: map-get($simple-upload-theme, background);
$background: map_merge($background, (
  background: #121212,
  app-bar: #272727
));

$theme: map_merge($simple-upload-theme, (background: $background));

@include mat-button-theme($theme);
@include mat-toolbar-theme($theme);
@include mat-list-theme($theme);
@include mat-sidenav-theme($theme);
@include mat-divider-theme($theme);
@include mat-ripple-theme($theme);
@include mat-dialog-theme($theme);
@include mat-snack-bar-theme($theme);
@include mat-input-theme($theme);
@include mat-form-field-standard-theme($theme);
@include mat-form-field-theme($theme);
@include mat-progress-spinner-theme($theme);
@include mat-progress-bar-theme($theme);
@include mat-tooltip-theme($theme);

*::selection {
  background-color: #BB86FC;
  color: #fff;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #272727;
  border-left: 1px solid rgba(255, 255, 255, 0.12);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.12);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.24);
}

::-webkit-scrollbar-thumb:active {
  background: rgba(255, 255, 255, 0.38);
}

/*background-color: #ffc77d;*/

.candy-carousel {
  // Get the default hue for a palette.
  color: #fff;
}

:root {
  --html-background: #121212;
  --html-color: #fff;
  --drag-drop-background: rgba(187, 134, 252, 1);
  --list-active-background: rgba(187, 134, 252, 0.08);
  --list-active-color: #BB86FC;
  --list-item-color: rgba(255, 255, 255, 0.6);
  --card-background: #1e1e1e;
  --medium-emphasis-color: rgba(255, 255, 255, 0.6);
  --button-link-color: #BB86FC;
  --icon-color: #fff;
}
