* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  height: 100%;
  background-color: var(--html-background);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-simple-snackbar span {
  letter-spacing: .25px;
}

.mat-button {
  padding: 0 8px !important;
  letter-spacing: 1.25px;
}

a, button, img {
  user-drag: none;
  -webkit-user-drag: none;
}
