<div class="container">

  <ng-container *ngIf="!isUploading && !isUploaded">
    <div class="logo">
      <img class="logo-img" src="https://assets-ouch.icons8.com/thumb/145/429a6c95-e362-4fb0-b704-ddeeafe8f8a7.png" alt="" draggable="false">
    </div>

    <div class="upload-box">
      <div class="primary-text">Basit ve hızlı</div>
      <div class="secondary-text">Yüklenecek dosyaları herhangi bir yere bırakın veya <button mat-raised-button color="primary" (click)="file.click()">BURAYA TIKLAYARAK</button> seçin</div>
    </div>

    <input id="file" type="file" accept="image/*" #file multiple (change)="onChange($event)">
  </ng-container>

  <ng-container *ngIf="isUploading">
    <div class="spinner">
      <mat-spinner diameter="32" color="primary"></mat-spinner>
    </div>
  </ng-container>

  <router-outlet></router-outlet>

</div>


