<div class="container">

  <div class="logo">
    <img class="logo-img" src="assets/images/flamenco-189.png"
         alt="" draggable="false">
  </div>

  <div class="upload-box">
    <div class="primary-text">Basit ve hızlı</div>
    <div class="secondary-text">
      <span>Yüklenecek dosyaları herhangi bir yere bırakın veya</span>
      <button mat-raised-button color="primary" (click)="file.click()">BURAYA TIKLAYARAK</button>
      <span>seçin</span>
    </div>
  </div>

  <input #file id="file" type="file" accept="image/*" formenctype="multipart/form-data" multiple
         (change)="onChange($event)">

  <ng-container *ngIf="isUploading">
    <div class="loading-box">
      <mat-spinner diameter="32" color="primary"></mat-spinner>
      <div class="progress-text">
        <span>{{progress}}%</span>
      </div>
    </div>
  </ng-container>

  <router-outlet></router-outlet>

</div>


